@page
@model ShopApp.Pages.Orders.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Order Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Order.Id)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.Order.Id)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Order.ShipmentPostalCode)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.Order.ShipmentPostalCode)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Order.ShipmentAddressLabel)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.Order.ShipmentAddressLabel)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Order.ShipmentAddress)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.Order.ShipmentAddress)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Order.ShipmentTrackingID)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.Order.ShipmentTrackingID)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Order.ShippingMethod)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.Order.ShippingMethod)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Order.ShippingDate)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.Order.ShippingDate)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Order.PaymentMethod)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.Order.PaymentMethod)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Order.NumberOfProducts)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.Order.NumberOfProducts)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Order.Products)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.Order.Products)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Order.Total)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.Order.Total)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Order?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
