@page
@model ShopApp.Pages.Orders.IndexModel

@{
    ViewData["Title"] = "Orders";
}

<h1>Orders</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Orders[0].Id)</th>
            <th>@Html.DisplayNameFor(model => model.Orders[0].NumberOfProducts)</th>
            <th>@Html.DisplayNameFor(model => model.Orders[0].Total)</th>
            <th>@Html.DisplayNameFor(model => model.Orders[0].ShipmentAddressLabel)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Orders)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfProducts)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShipmentAddressLabel)
                </td>
                <td>
                    <div class="hstack gap-2">
                        <a asp-page="./Details" asp-route-id="@item.Id" class="text-primary">Details</a>
                        <div class="vr"></div>
                        <a asp-page="./Delete" asp-route-id="@item.Id" class="text-danger">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
