@page
@model ShopApp.Pages.Catalogues.IndexModel

@{
    ViewData["Title"] = "Catalogues";
}

<h1>Catalogues</h1>

<div class="hstack gap-3">
    <a asp-page="Create">Create New</a>
    <div class="vr"></div>
    <a asp-page="/Index">Back to homepage</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Catalogue[0].Title)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Catalogue)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
